:root {
    --primary: #2957CB;
    --font: #fff;
}

.btn {
    padding: 8px 20px;
    outline: none;
    border: none;
    cursor: pointer;
    font-family: 'Inter';
    border-radius: 16px;
}

.btn--primary, .btn--primary-alt, .btn--outline-alt:hover {
    background-color: var(--primary);
    color: var(--font);
    border: 1px solid var(--primary);
    transition: all 0.3s ease-out;
}

.btn--outline {
    background-color: transparent;
    color: var(--font);
    border: 1px solid var(--primary);
    transition: all 0.3s ease-out;
}

.btn--medium {
    padding: 8px 20px;
    font-size: 1em;
}

.btn--large {
    padding: 8px 20px;
    font-size: 1em;
}

.btn--outline:hover {
    background: var(--primary);
    color: var(--font);
}

.btn--primary:hover {
    background: transparent;
    border: 1px solid var(--primary);
}

.btn--primary-alt:hover, .btn--outline-alt {
    background: transparent;
    border: 1px solid var(--primary);
    color: var(--primary);
    transition: all 0.3s ease-out;
    border-radius: 16px;
}