.contact-container {
    background: url('./images/electrical-lines-gray.png')
    no-repeat;
    background-size: 500px 336px;
    background-position: 90% 80%;
    font-family: 'Inter';
    text-align: center;
}

.contact-us-header {
    border-bottom: 2px solid #2957CB;
    margin-right: 200px;
    margin-left: 200px;
    letter-spacing: 1.5px;
    display: inline-block;
    margin-block-start: 2em;
    margin-block-end: 1em;
}

.contact-us {
    font-size: xx-large;

}

.contact-explanation {
    margin-block-start: 0.25em;
    font-size: small;
    /* max-width: 600px; */
    line-height: 1.5;
}

.email-phone {
    list-style: none;
    display: inline-flex;
    font-weight: 500;
    font-size: 20px;
    padding-inline-start: 0;
    letter-spacing: 2.5px;
}

.email-phone li {
    margin-right: 40px;
    margin-left: 40px;
}

.email-phone li img {
    display: block;
    margin: 0 auto;
    float: left;

}