.contact-form {
    align-items: center;
}

.name-email-div {
    display: inline-flex;
}

.contact-textbox {
    /* display: flex; */
    box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
    border: 1px solid #2957CB;
    padding: 10px;
    background: #fff;
    margin: 0.5em;
    /* margin: 3rem; */
    border-radius: 4px;
    width: 250px;
}

.message-textbox {
    vertical-align: top;
}

.contact-message-textbox {
    box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
    border: 1px solid #2957CB;
    padding: 10px;
    background: #fff;
    /* margin: 3rem; */
    border-radius: 10px;
    margin: 0.5em;
    width: 825px;
    height: 100px;
    text-align: left;
    resize: none;
    font-family: 'Inter';
    /* vertical-align: top; */
}

.contact-button {
    margin: 30px;
}

.submit-button {
    padding: 8px 20px;
    outline: none;
    border: none;
    cursor: pointer;
    font-family: 'Inter';
    border-radius: 16px;
    border: 1px solid var(--primary);
    transition: all 0.3s ease-out;
    background-color: var(--primary);
    color: var(--font);
}

.submit-button:hover {
    background: transparent;
    border: 1px solid var(--primary);
    color: var(--primary);
    transition: all 0.3s ease-out;
    border-radius: 16px;
}

@media screen and (max-width: 900px) {
    .name-email-div {
        display: block;
    }

    .contact-textbox {
        width: -webkit-fill-available;
        margin-right: 1em;
        margin-left: 1em;
    }

    .contact-message-textbox {
        width: -webkit-fill-available;
        margin-right: 1em;
        margin-left: 1em;
    }
}