.content-hero-container {
    background: url('./images/hero-background-image-small.png') 
    no-repeat;
    background-size: 500px 336px;
    background-position: 70% 90%;
    background-color: #0F172D;
    color: #fff;
    font-family: 'Inter';
    min-height: 250px;
    text-align: center;
    /* align-items: center; */
}

.content-list {
    list-style: none;
    display: inline-block;
    padding-inline-start: 0;
}

.hero-header {
    font-size: smaller;
    letter-spacing: 1.5px;
    float: top;
}

.hero-content {
    font-size: xxx-large;
    font-weight: 600;
    margin-block-start: 0;
    max-width: 800px;
}

.hero-content-only {
    font-size: xxx-large;
    font-weight: 600;
    max-width: 800px;
}