.dit-product-content {
    background-color: #fff;
    background-image: url('./number_cloud.png') ;
    background-position: center top;
    /* justify-content: center; */
    font-family: 'Inter';
    /* align-items: center; */
    text-align: center;
    min-height: 1800px;
}

.desc-container {
    max-width: 800px;
    display: inline-block;
    margin-top: 50px;
}

.prod-header {
    font-size: x-large;
    color: #2957CB;
    font-weight: 600;
    letter-spacing: 1.5px;
}

.prod-descr {
    margin-bottom: 0;
}

.cards-container {
    display: inline-block;
    align-items: center;
    margin: 50px;
    margin: 0 auto;
  }