.one-prod-page-container {
    margin-right: 80px;
    margin-left: 80px;
    font-family: 'Inter';
}

.back-to-products-page {
    margin: 30px;
    font-weight: 300;
    color: gray;
    display: table;
    text-decoration: none;
}

