.sec-four-container {
    font: 'Inter';
    color: black;
}

.bolded-headers {
    font-weight: 600;
    margin-top: 1em;
}

.network-sec p {
    margin-block-start: 0;
}

.no-space-para {
    margin-block-start: 0;
    margin-block-end: 0;
}

.no-bullets {
    list-style: none;
}

.no-bullets li {
    margin-bottom: 8px;
    font-size: small;
}

.no-bullets ul {
    margin-top: 10px;
    list-style: disc;
}

.network-sec {
    margin-top: 1em;
    padding-inline-start: 40px;
    font-size: small;
}