.feature__card__container {
    display: flex;
    flex-direction: column;
    width: 350px;
}

.feature__card__item {
    background-color: transparent;
    border-left: 3px solid #2957CB;
    padding-left: 10px;
    flex-grow: 1;
    display: block;
    margin: 10px;
}

.feature__card__header {
    margin-block: 0px;
}

.feature__card__subheader {
    margin-block: 0px;
    font-size: x-small;
    letter-spacing: 2px;
    font-weight: 600;
    margin-top: 3px;
}


.feature__card__description {
    margin-block: 0px;
    margin-top: 8px;
    font-size: small;
}