.feature__card__container {
    display: flex;
    flex-direction: column;
    width: 350px;
    min-height: 200px;
    margin: 5px;
}

.feature__card__item {
    background-color: transparent;
    border-left: 3px solid #2957CB;
    padding-left: 10px;
    flex-grow: 1;
    display: block;
    margin: 10px;
}

.feature__card__header {
    margin-block: 0px;
}

.feature__card__subheader {
    margin-block: 0px;
    font-size: x-small;
    letter-spacing: 2px;
    font-weight: 600;
    margin-top: 3px;
}


.feature__card__description {
    margin-block: 0px;
    margin-top: 8px;
    font-size: small;
}

/* .feature__card__description-small {
    display: none;
} */



@media screen and (max-width: 765px) {
.feature__card__container-small {
    display: block;
    border-bottom: 3px solid #2957CB;
    font: 'Inter';
}

    .feature__card__header-small {
    margin-block: 5px;
    font-size: xx-large;
}

.feature__card__subheader-small {
    margin-block: 0px;
    font-size: large;
    letter-spacing: 2.5px;
    font-weight: 600;
    margin-top: 3px;
}

/* TODO: fix this transition */

.feature__card__description-small.active {
    opacity: 1;
    margin-bottom: 10px;
    /* display: block; */
    margin-block: 0px;
    margin-top: 8px;
    font-size: medium;
    transition: all 0.3s ease-in;
    margin-bottom: 1em;
    /* transform: scaleY(1); */

}

.feature__card__description-small {
    opacity: 0;
    display: none;
    /* transition: all 0.3s ease-in-out; */
    /* overflow: hidden; */
    transition: all 0.5s ease-out;
    /* transform-origin: top; */
    /* transform: scaleY(0); */
}

.read-more {
    margin-block-start: 0.5em;
    cursor: pointer;
    transition: all 0.3s ease;


}

}