.sec-container-features {
    background: url('./images/padlock-background.png') center center/cover;
    background-position: left;
    /* min-height: 515px; */
    font-family: 'Inter';
    /* vertical-align: center; */
    color: #fff;
    padding-bottom: 1em;
}

.grid {
    display: grid;
    width: 300px;
}

.prod-features-list {
    display: grid;
    grid-template-columns: auto auto auto;
    /* grid-gap: 5px; */
    margin-inline-start: 50px;
    margin-inline-start: 50px;
    /* margin-block: 0; */
    list-style: none;
}

.sec-header {
    text-align: left;
    display: block;
    float: left;
    /* display: inline-block; */
    width: 300px;
}

.why-header {
    font-size: xxx-large;
    text-align: left;
    line-height: 48px;
    margin-block-start: 90px;
    margin-block-end: 0px;
}

.prod-features {
    letter-spacing: 1.5px;
    font-weight: 500;
    margin-block-start: 5px;
    margin-block-end: 40px;
}

.sec-prod-cards {
    display: flex;
}

/* .prod-cards-list {
    vertical-align: center;

} */

.prod-cards-rows {
    display: flex;
    float: right;
    list-style: none;
    margin-right: 100px;
    margin-top: 40px;
}

.prod-cards-rows-shift {
    display: flex;
    float: left;
    list-style: none;
    margin-right: 100px;
    margin-top: 40px;
}

.btn-sec {
    margin-right: 75px;
    float: right;
}

.more-button {
    background-color: var(--primary);
    color: var(--font);
    padding: 8px 20px;
    font-size: 1em;
    padding: 8px 20px;
    outline: none;
    border: none;
    cursor: pointer;
    font-family: 'Inter';
    border: 1px solid var(--primary);
    transition: all 0.3s ease-out;
}

.more-button:hover {
    background: transparent;
    border: 1px solid #2957CB;
}

@media screen and (max-width: 1120px) {
    .prod-features-list {
        display: grid;
        grid-template-columns: auto auto;
        /* grid-gap: 5px; */
        margin-inline-start: 50px;
        margin-inline-start: 50px;
        /* margin-block: 0; */
        list-style: none;
    }
}

@media screen and (max-width: 765px) {
    .sec-container-features {
        background: url('./images/padlock-background.png') left top;
        background-color: #0F172D;

        /* min-height: 515px; */
        font-family: 'Inter';
        /* vertical-align: center; */
        color: #fff;
        padding-bottom: 1em;
    }

    .more-button {
        display: none;
    }

    .prod-features-list {
        display: grid;
        grid-template-columns: auto;
        /* grid-gap: 5px; */
        margin-inline-start: 50px;
        margin-inline-start: 50px;
        /* margin-block: 0; */
        list-style: none;
        place-items: center;
        margin-left: auto;
        margin-right: auto;
        padding-inline-start: 0;
    }

    .why-header {
        text-align: center;
        margin-block-start: 20px;

    }

    .prod-features {
        letter-spacing: 1.5px;
        font-weight: 500;
        margin-block-start: 5px;
        margin-block-end: 10px;
    }

    .sec-header {
        text-align: center;
        /* width: 80%; */
        padding-bottom: 25px;
        border-bottom: 3px solid #2957CB;
        /* width: auto; */
        width: 90%;
    }

    .prod-cards-cols, .prod-cards-cols-2,
     .prod-cards-cols-3, .prod-cards-cols-4 {
        display: block;
        width: 90%;
        margin-left: 1em;
    }
}