.prod-page-sec-two-container {
    margin-top: 1em;
    color: black;
    /* font-family: 'Inter'; */
    border-bottom: 1px solid lightgray;
    min-width: 300px;
}

.features-header {
    font-size: x-large;
    font-weight: 300;
}

.features-list {
    font-size: medium;
    margin-bottom: 30px;
}

.features-list li {
    margin-bottom: 5px;
}