.prod-page-sec-two-five-container {
    margin: 30px;
    margin-left: 10%;
}

.request-brochure {
    text-decoration: none;
    font-size: large;
    font-weight: 500;
    color: #2957CB;
    border-bottom: 2px solid #2957CB;
}

.request-brochure:hover {
    border-bottom: 0px;
}

@media screen and (max-width: 820px) {
    .prod-page-sec-two-five-container {
        text-align: center;
    }
}