.product-content {
    background-color: #fff;
    background-image: url('./images/binary-cloud.png') ;
    background-position: center top;
    /* justify-content: center; */
    font-family: 'Inter';
    /* align-items: center; */
    text-align: center;
    /* min-height: 1800px; */
    margin-right: 8%;
    margin-left: 8%;
}

.desc-container {
    max-width: 800px;
    display: inline-block;
    margin-top: 50px;
}

.prod-header {
    font-size: x-large;
    color: #2957CB;
    font-weight: 600;
    letter-spacing: 1.5px;
}

.italic {
    font-style: italic;
}

.prod-description {
    margin-bottom: 0;
    margin-left: 20px;
    margin-right: 20px;
    min-width: 300px;
}

.abbr {
    text-decoration: none;
    border-bottom: 2px solid #2957CB;
    cursor: pointer;
}

.abbr-hover {
    cursor: grab;
    border-bottom: none;
    color: #2957CB;
    transition: all 0.2s ease;
}

.cards-container {
    display: inline-block;
    align-items: center;
    margin: 50px;
    margin: 0 auto;
  }

  @media screen and (max-width: 820px) {
    .product-content {
        margin-right: 0;
        margin-left: 0;
    }

    .prod-header {
        font-size: large;
    }
  }