.prod-footer-container {
    background: url('./images/inverted-background.png') right center/cover;
    background-size: 1031px 659px;
    margin-top: 10px;
    background-color: #ebebeb;
    align-items: center;
    font-family: 'Inter';
    display: flex;
    justify-content: center;
    padding: 5%;
}

.need-for-data-protection {
    align-items: center;
    margin-left: 80px;
}


.image-section {
    margin: 20px;
}

.need-for-header {
    font-size: x-large;
    color: #2957CB;
    font-weight: 600;
}

.mcafee-source {
    width: 350px;
    font-size: x-small;
    border-top: 0.5px solid black;
    padding-top: 5px;
    text-align: left;
}

@media screen and (max-width: 900px) {
    .prod-footer-container {
        display: block;
        text-align: center;
        line-height: 1.5;
        min-width: 350px;
    padding: 3%;

    }

    .need-for-desc {
        font-size: smaller;
    }
}