.prod-page-section-three-container {
    color: black;
    margin: 0 auto;
    margin-top: 1em;
}

.sec-three-list {
    list-style: none;
    display: grid;
    grid-template-columns: auto auto;
}

.sec-three-header {
    display: grid;
    font-weight: 500;
    font-size: x-large;
    max-width: inherit;
}

.sec-three-text {
    font-size: medium;
    max-width: inherit;

}

.sec-three-info {
    max-width: 400px;
    display: inline;
    float: right;
    padding-left: 20px;
    justify-content: right;
    justify-self: right;
}

.sec-three-figure-section {
    display: inline;
    float: right;
}

@media screen and (max-width: 1020px) {
    .sec-three-figure-section {
        margin-left: 20px;

    }
}

@media screen and (max-width: 820px) {
    .prod-page-section-three-container {
        display: block;
        text-align: center;
    }

    .sec-three-list {
        list-style: none;
        display: block;
        float: none;
    }

    .sec-three-figure-section {
        margin-left: 20px;
        display: block;
        float: none;
    }

    .sec-three-info {
        display: block;
        float: none;
        padding-left: 0;
        max-width: none;
        margin-right: 10px;
        margin-left: 10px;
        min-width: 300px;
    }

    .sec-three-text {
        font-size: medium;
        max-width: inherit;
        display: block;
    }
}