.sec-five-container {
    margin-left: 4em;
    margin-right: 4em;
    margin-top: 70px;
    text-align: center;
    align-content: center;
}

.empty-div {
    margin-left: 10%;
    margin-right: 10%;
    padding-bottom: 4em;
    border-bottom: solid 4px #2957CB;
}

.sec-five-container border {
    margin-left: 50px;
    margin-right: 50px;
}

.sec-five-container span {
    font-size: xx-large;
    color: black;
    font-weight: 400;
    margin-bottom: 1em;
}

@media screen and (max-width: 900px) {

    .sec-five-container {
        margin-left: 1em;
        margin-right: 1em;
        min-width: 300px;
    }

    .empty-div {
        margin-left: 1%;
        margin-right: 1%;
    padding-bottom: 2em;

    }
}