.prod-page-sec-two-five-container {
    margin: 30px;
}

.request-brochure {
    text-decoration: none;
    font-size: medium;
    font-weight: 500;
    color: #2957CB;
}

@media screen and (max-width: 820px) {
    .prod-page-sec-two-five-container {
        text-align: center;
    }
}